.homeContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #f1f1f1;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  padding-top: 50px;
}

.homeWrapper {
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
}

.homeCard {
  width: 250px;
  height: 250px;
  border-radius: 5px;
  margin: 5px;
  box-shadow: -1px 5px 9px 0px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

.homeCardTop {
  margin: 5px;
}

.homeCardImg {
  width: 100%;
  max-height: 200px;
  border-radius: 10px;
}

.homeCardBottom {
  padding: 2px;
}

.homeCardTitle {
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  font-family: BYekan;
  text-align: center;
}

.homeCardDisc {
  font-size: 15px;
  padding: 5px;
  font-family: BYekan;
  text-align: right;
  line-height: 20px;
}
