.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #f1f1f1;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginTop {
  float: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginLogo {
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-weight: 800;
  color: #1775ee;
  cursor: pointer;
}

.loginDesc {
  font-size: 15px;
}

.loginBottom {
  float: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginBox {
  height: 400px;
  margin: 10px 0;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginInput {
  height: 50px;
  border-radius: 11px;
  border: solid gray 1px;
  font-size: 18px;
  padding-right: 20px;
  font-family: BYekan;
}

.loginInput:focus {
  outline: none;
}

.RegisterButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #1775ee;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  font-family: BYekan;
}

.loginForget {
  text-align: center;
  color: #1775ee;
}

.loginButton {
  width: 60%;
  align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #42b72a;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  font-family: BYekan;
}
